/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');

/* VARIABLES */
:root {
  /* bg, border, font color */
  --font-color: linear-gradient(0deg, rgba(0,2,99,1) 0%, rgb(0, 19, 26) 90%);
  --body: linear-gradient(0deg, rgba(0,2,99,1) 0%, rgb(0, 19, 26) 90%);
  
  --top-pads: linear-gradient(180deg, rgba(255,108,106,1) 0%, rgba(255,94,125,1) 80%);
  --mid-pads: linear-gradient(0deg, rgba(255,75,149,1) 0%, rgba(255,89,131,1) 80%);
  --bottom-pads: linear-gradient(180deg, rgba(255,71,153,1) 0%, rgba(255,56,172,1) 80%);
}

/* PRESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Source Code Pro', monospace;
  background: var(--body);
}

/* WRAPPERS */
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.inner-container {
  display: flex;
  flex-direction: row;
  transition: flex-direction 200ms linear;
}

/* PADBANK */
.pad-bank-container {
  display: grid;
  grid-template-columns: 145px 145px 145px;
  grid-template-rows: 145px 145px 145px;
  grid-gap: 26px 45px;
  padding-top: 30px;
  margin-right: 50px;
}
.pad-bank-container .drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.pad-bank-container .drum-pad-top {
  border: 1px solid var(--top-pads);
  background: var(--top-pads);
}
.pad-bank-container .drum-pad-mid {
  border: 1px solid var(--mid-pads);
  background: var(--mid-pads);
}
.pad-bank-container .drum-pad-bottom {
  border: 1px solid var(--bottom-pads);
  background: var(--bottom-pads);
}
.drum-pad .drum-pad-text {
  font-size: 20px;
  font-weight: 400;
  background: var(--font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pad-bank-container .drum-pad-top-clicked {
  border: 1px solid rgba(255,108,106,1);
  background: transparent;
}
.pad-bank-container .drum-pad-mid-clicked {
  color: rgba(255,89,131,1);
  border: 1px solid rgba(255,89,131,1);
  background: transparent;
}
.pad-bank-container .drum-pad-bottom-clicked {
  color: rgba(255,71,153,1);
  border: 1px solid rgba(255,71,153,1);
  background: transparent;
}


/* CONTROLS */
.controls-container {
  text-align: center;
}
.controls-container > div:not(:last-child) {
  margin-bottom: 42px;
}
.controls-container div > p {
  font-size: 18px;
  font-weight: 500;
}
.controls-container .power {
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--top-pads);
  background: var(--top-pads);
  padding-top: 5px;
  padding-left: 5px;
  width: 190px;
  height: 190px;
  cursor: pointer;
}
.power .half-circle {
  width: 180px;
  height: 180px;
  border: 2px solid rgba(0,2,99,1);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.power .rotate {
  transform: rotate(74deg);
  animation: spin 3s infinite linear;
}
@keyframes spin{
  0%{
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
  }
  100%{
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
  }
}
.power .static {
  transform: rotate(74deg);
}
.power .power-text {
  font-size: 20px;
  width: 110px;
}
.power p, 
.bank p { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.power-text, .bank-text {
  background: var(--font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls-container .bank {
  position: relative;
  border: 1px solid var(--mid-pads);
  border-radius: 50%;
  background: var(--mid-pads);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
}
.controls-container .display {
  border-radius: 32px;
  border: 1px solid rgba(255,75,149,1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 5px;
  margin: 0 auto;
}
.controls-container .display-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255,75,149,1);
  width: 66%;
  padding-right: 5px;
}
.controls-container .display-volume {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 34%;
  padding-left: 5px;
  border-left: 1px solid rgba(255,75,149,1);
}
.display-volume .volume-num {
  font-size: 14px;
  color: rgba(255,75,149,1);
}
input[type='range'] {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  background-color: rgba(255,56,172,1);
  height: 1px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  background: rgba(255,56,172,1);
  width: 15px;
  height: 15px;
  margin-top: -7px;
  cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 1920px) {
  .inner-container {
    transform: scale(1);
    transition: transform 200ms linear;
  }
}
@media (max-width: 1025px) {
  .inner-container {
    transform: scale(0.9);
    transition: transform 200ms linear;
  }
}
@media (max-width: 769px) {
  .inner-container {
    transform: scale(0.75);
    transition: transform 200ms linear;
  }
}
@media (max-width: 601px) {
  .inner-container {
    flex-direction: column;
    min-width: 650px;
    transition: flex-direction 200ms linear;
  }
  .pad-bank-container {
    order: 2;
    justify-content: center;
    margin: 0;
  }
  .controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    padding: 0 0px;
  }
  .controls-container > div:not(:last-child) {
    margin: 0 20px 0 0;
  }
  .controls-container .display {
    width: 171px;
    height: 62px;
  }
  .controls-container .display-text {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .inner-container {
    transform: scale(0.5);
    transition: transform 200ms linear;
  }
}
